// see details here: https://graphviz.org/
digraph {{ ns.spaceName }} {
    //layout=dot // neato, fdp
    label="{{ ns.spaceName }} model"
    labelloc="t"
    fontsize="25"
    nodesep=0.5
    ranksep=0.5

    node [style=filled, fillcolor=lightgray,margin="0.1,0"] // color=white, pad="1"
    graph [penwidth=2, fontsize="12", fontname="times-bold", labeljust=r]

    // = compartments =

    {%- for key, val in clustersDict %}
    {{ 'subgraph cluster_' + key if key != '_' -}}
    {
        // bgcolor="lightyellow"
        label="{{ key }}"
        tooltip="{{ key }}"
        //
        {%- for component in val %}
        {%- if component.instanceOf('Process') %}
        {{ component.id }} [shape=circle,width=.1,height=.1,label=""] // xlabel="{{ component.id }}"
        {%- else %}
        {{ component.id }} [shape=box]
        {%- endif %}
        {%- endfor %}
    }
    {%- endfor %}

    // = processes =
    {% for proc in ns.selectByInstanceOf('Process') %}
    {%- for actor in proc.actors %}
    {%- if actor.stoichiometry < 0 %}
    {{ actor.target }} -> {{ proc.id }} [arrowhead=none]
    {%- else %}
    {{ proc.id }} -> {{ actor.target }}
    {% endif %}
    {%- endfor %}
    {%- endfor %}
}
