digraph G {
    layout=dot // neato
    label="{{ ns.spaceName }}"
    labelloc="t"
    fontsize="25"

    // = compartments =

    {%- for key, val in clustersDict %}
    {{ 'subgraph cluster_' + key if key != '_' }}
    {
        // bgcolor="lightyellow"
        label="{{ key }}"
        fontsize="15"
        fontname="times-italic"
        labeljust=r
        //
        {%- for component in val %}
        {%- if component.instanceOf('Process') %}
        {{ component.id }} [shape=circle,width=.1,height=.1,label="",xlabel="{{ component.id }}"]
        {%- else %}
        {{ component.id }} [shape=box]
        {%- endif %}
        {%- endfor %}
    }
    {%- endfor %}

    // = processes =
    {% for proc in ns.selectByInstanceOf('Process') %}
    {%- for actor in proc.actors %}
    {%- if actor.stoichiometry < 0 %}
    {{ actor.target }} -> {{ proc.id }} [arrowhead=none]
    {%- else %}
    {{ proc.id }} -> {{ actor.target }}
    {% endif %}
    {%- endfor %}
    {%- endfor %}
}
