# preamble
library('mrgsolve')

# load models
{%- for ns in selectedNamespaces %}
{{ ns[0] }}_model <- mrgsolve::mread(model = '{{ ns[0] }}', file = '{{ ns[0] }}.cpp')
{%-endfor %}

# run first model
sim <- {{ selectedNamespaces[0][0] }}_model %>%
  mrgsim(
    delta = 1,
    hmax = 0,
    maxsteps = 1e9,
    atol = 1e-7,
    rtol = 1e-4,
    end = 120
  )

# plot results
plot <- sim %>%
    plot(type='l')

# show
plot