# preamble
library('mrgsolve')

# load model
{{ population.spaceName }}_model <- mrgsolve::mread(model = '{{ population.spaceName }}', file = 'model.cpp')

# run model
sim <- {{ population.spaceName }}_model %>%
  mrgsim(
    delta = 1,
    hmax = 0,
    maxsteps = 1e9,
    atol = 1e-7,
    rtol = 1e-4,
    end = 120
  )

# plot results
plot <- sim %>%
    plot(type='l')

# show
plot