$PROB
# Model: `{{ id }}`
  - Title: {{ id }}
  - Notes: Generated automatically from platform with Heta compiler
  - Source: Heta compiler

# Demo
```{r,echo=TRUE}
  ev(amt=10) %>% mrgsim %>% plot
```

$SET end=120, delta=0.1, hmax=0.01, hmin=0.0, rtol=1e-3, atol=1e-6

$PARAM @annotated
// constants
{%- for constant in constants %}
{{ constant.id }} : {{ constant.value }} : {{ constant.title | default('-') }}
{%- endfor %}
// events active
{%- for evt in events %}
{{ evt.id }}__active__ : {{ '1' if evt.active==true else '0' }} : -
{%- endfor %}

$INIT @annotated
// dynamic states
{%- for state in states | exclude2('static', true) %}
{{ state.id }} : {{ state.initial if state.initial is number else 0.0 }} : {{ state.title | default('-') }}
{%- endfor %}

$PREAMBLE
// static states
{%- for state in states | filter2('static', true) %}
double {{ state.id }} = 0.0; // {{ state.title | default('-') }}
{%- endfor %}
// continuous events
{%- for event in events | filter2('type', 'continuous') %}
bool {{ event.id }}__down__ = false;
{%- endfor %}

$MAIN
// dynamic states initializations
{%- for state in states | exclude2('static', true) %}
{%- if state.initial is not number %}
{{ state.id }}_0 = {{ state.initial.expr }};
{%- endif %}
{%- endfor %}
if (NEWIND <= 1) {
// static states initializations
{%- for state in states | filter2('static', true) %}
{{ state.id }} = {{ state.initial if state.initial is number else state.initial.expr }};
{%- endfor %}
{%- for event in events | filter2('type', 'continuous') %}
{{ event.id }}__down__ = false;
{%- endfor %}
// time events
{%- for event in events | filter2('type', 'time') %}
self.mevent({{ event.start if event.start is number else event.start.expr }}, {{ timeEventIndex[event.id] }});
{%- endfor %}
}

$ODE
// assignments
{%- for assignment in assignments %}
double {{ assignment.id }} = {{ assignment.rhs if assignment.rhs is number else assignment.rhs.expr }}; // {{ assignment.title | default('-') }}
{%- endfor %}
// derivatives
{%- for derivative in derivatives %}
dxdt_{{ derivative.state }} = {{ derivative.rhs if derivative.rhs is number else derivative.rhs.expr }};
{%- endfor %}

$CAPTURE @annotated
{%- for observable in observables %}
{{ observable.symbol }} : {{ observable.title | default('-') }}
{%- endfor %}

{% if events | length > 0 -%}
$TABLE
{%- for event in events %}

{%- if event.type == 'time' %}
// {{ event.id  }} // {{ event.title | default('-') }}
if ({{ event.id }}__active__ && EVID=={{ timeEventIndex[event.id] }}{{ ' && TIME>0.0' if not event.atStart }}) {
  {%- for action in event.actions %}
  {%- if dynamicStatesIndex[action.state] is defined %} {# for dynamic #}
  {%- set evtId = 'evt_' + action.state + '_' %}
  mrg::evdata {{ evtId }}(TIME, 8);
  {{ evtId }}.amt = {{ action.rhs.expr }};
  {{ evtId }}.cmt = {{ dynamicStatesIndex[action.state] }};
  {{ evtId }}.now = true;
  self.mevector.push_back({{ evtId }});
  {%- else %} {# for static #}
  {{ action.state }} = {{ action.rhs.expr }};
  {%- endif %}
  {%- endfor %}
  {%- if event.period is defined %}
  // next event
  {% if event.stop is defined -%}
  if (TIME < {{ event.stop }}) {% endif -%}
  self.mevent(TIME + {{ event.period }}, {{ timeEventIndex[event.id] }});{% endif %}
}

{%- elif event.type == 'continuous' %}
// {{ event.id }} // {{ event.title | default('-') }}
if ({{ event.id }}__active__ && !{{ event.id }}__down__ && ({{ event.trigger.rhs.expr }} >= 0.0){{ ' && TIME > 0.0' if not event.atStart }}) {
  {{ event.id }}__down__ = true;
  {%- for action in event.actions %}
  {% if dynamicStatesIndex[action.state] is defined %} {# for dynamic #}
  {%- set evtId = 'evt_' + action.state + '_' %}
  mrg::evdata {{ evtId }}(TIME, 8);
  {{ evtId }}.amt = {{ action.rhs.expr }};
  {{ evtId }}.cmt = {{ dynamicStatesIndex[action.state] }};
  {{ evtId }}.now = true;
  self.mevector.push_back({{ evtId }});
  {%- else %} {# for static #}
  {{ action.state }} = {{ action.rhs.expr }};
  {%- endif %}
  {%- endfor %}
} else {
  {{ event.id }}__down__ = false;
}

{%- endif %}
{%- endfor %}
{% endif %}