{%- set firstId = nsImages[0].namespace.spaceName -%}
#=
  default run
=#
using SimSolver

# This loads SimSolverPlatform Module
include("model.jl")
using Main.SimSolverPlatform

### use first model in platform
{{ firstId }} = models.{{ firstId }}
{{ firstId }}_default = models.{{ firstId }}_default

### solve and plot default
solution = solve_task({{ firstId }}_default)
plot(solution)
