%{
  This model was created by Heta compiler.
  Additional functions see in the directory
  export from : #export { format: Simbio, namespace: {{ population.spaceName }}, ...};
%}

sbioaddtolibrary(sbiounit('week', 'day', 7));

{% set model_id = population.spaceName + "_model" -%}
{{ model_id }} = sbiomodel('{{ population.spaceName }}');

% Useful parameters
addparameter({{ model_id }}, 'timeOne', 1, 'ValueUnits', 'hour');

{% set listOfCompartments = population.selectByClassName('Compartment') -%}
{{ "% Compartments" if listOfCompartments|length > 0 }}
{%- for record in listOfCompartments %}
{{ population.spaceName }}.compartment.{{record.id}} = addcompartment(
  {{- model_id }}, '{{record.id}}', 'ConstantCapacity', false
  {%- if record.assignments.start_.num!==undefined %}, 'Capacity', {{record.assignments.start_.num}}{% endif %}
  {%- if record.units!==undefined %}, 'CapacityUnits', '{{ record.unitsRebased(legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfSpecies = population.selectByClassName('Species') -%}
{{ "% Species" if listOfSpecies|length > 0 }}
{%- for record in listOfSpecies %}
{{ population.spaceName }}.species.{{record.id}} = addspecies(
  {{-  population.spaceName  }}.compartment.{{record.compartment}}, '{{record.id}}', 'ConstantAmount', false
  {%- if record.assignments.start_.num!==undefined %}, 'InitialAmount', {{record.assignments.start_.num}}{% endif -%}
  {%- if record.units!==undefined -%}, 'InitialAmountUnits', '{{ record.unitsRebased(legalUnits, true) }}'{% endif -%}
  , 'BoundaryCondition', {{ record.boundary===true or record.isRule===true -}}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfParameters = population.selectByClassName('Record') -%}
{% set listOfProcesses = population.selectByClassName('Process') -%}
{% set listOfConstants = population.selectByClassName('Const') -%}
{% set listOfTimeScales = population.selectByClassName('TimeScale') | exclude2('id', 't') -%}
{{ "% Parameters" if listOfParameters|length + listOfConstants|length + listOfProcesses|length > 0 }}
{%- for record in listOfParameters.concat(listOfProcesses) %}
{{ population.spaceName }}.parameter.{{record.id}} = addparameter(
  {{- model_id }}, '{{record.id}}', 'ConstantValue', false
  {%- if record.assignments.start_.num!==undefined %}, 'Value', {{record.assignments.start_.num}}{% endif -%}
  {%- if record.units!==undefined -%}, 'ValueUnits', '{{ record.unitsRebased(legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
{%- endfor %}
{%- for con in listOfConstants %}
{{ population.spaceName }}.parameter.{{con.id}} = addparameter(
  {{- model_id }}, '{{con.id}}', 'ConstantValue', true
  {%- if con.num!==undefined %}, 'Value', {{con.num}}{% endif -%}
  {%- if con.units!==undefined -%}, 'ValueUnits', '{{ con.unitsRebased(legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{con.notesHTML}}', 'Tag', '');
{%- endfor %}
{%- for ts in listOfTimeScales %}
{{ population.spaceName }}.parameter.{{ts.id}} = addparameter(
  {{- model_id }}, '{{ts.id}}', 'ConstantValue', false
  {%- if ts.units!==undefined -%}, 'ValueUnits', '{{ ts.unitsRebased(legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{ts.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfReactions = population.selectByClassName('Reaction') -%}
{{ "% Reactions" if listOfReactions|length > 0 }}
{%- for record in listOfReactions %}
{{ population.spaceName }}.reaction.{{record.id}} = addreaction(
  {{- model_id }}, 'null -> null', 'Name', '{{record.id}}', 'Active', true, 'Reversible', {{ record.reversible!==false}}
  {%- if record.assignments.ode_ %}, 'ReactionRate', '{{record.assignments.ode_.toMatlabString()}}'{% endif -%}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
  {%- set fullActors = record.actors.concat(record.modifiers) -%}
  {% set reactants = fullActors|getReactants %}
  {%- if reactants|length > 0 %}
  addreactant({{ population.spaceName }}.reaction.{{record.id}}, [
    {%- for actor in reactants %}{{ population.spaceName }}.species.{{ actor.target }}, {% endfor -%}
    ], [
    {%- for actor in reactants %}{{ -actor.stoichiometry if actor.stoichiometry<0 else 1 }}, {% endfor -%}
    ]);
  {%- endif %}
  {%- set products = fullActors|getProducts %}
  {%- if products|length > 0 %}
  addproduct({{ population.spaceName }}.reaction.{{record.id}}, [
    {%- for actor in products %}{{ population.spaceName }}.species.{{ actor.target }}, {% endfor -%}
    ], [
    {%- for actor in products %}{{ actor.stoichiometry if actor.stoichiometry>0 else 1 }}, {% endfor -%}
    ]);
  {%- endif %}
{%- endfor %}

{% set listOfAssignmentRules = population.selectRecordsByContext("ode_")|exclude2("className","Reaction") -%} {# all ode_ but not reactions #}
{%- set listOfRateRules = population.selectByClassName('Record')|exclude2("boundary", true)|exclude2("isRule", true)|exclude2("backReferences.length", 0) -%}
{{ "% Rules" if listOfAssignmentRules|length + listOfRateRules|length + listOfTimeScales|length > 0 }}
{%- for record in listOfAssignmentRules %}
addrule(
  {{- model_id }}, '{{record.id}} = {{ record.assignments.ode_.toMatlabString() }}', 'repeatedAssignment');
{%- endfor %}
{%- for record in listOfRateRules %}
addrule(
  {{- model_id }}, '{{record.id}} = 
  {%- for ref in record.backReferences -%}
    {{ " " + ref.stoichiometry if ref.stoichiometry<0 or loop.first else " + " + ref.stoichiometry }}*{{ ref.process }}
  {%- endfor -%}
  ', 'rate');
{%- endfor %}
{%- for ts in listOfTimeScales %}
addrule(
  {{- model_id }}, '{{ts.id}} = time * {{ ts.slope }} + {{ ts.intercept }}', 'repeatedAssignment');
{%- endfor %}

{%- set listOfInitialAssignments = population.selectRecordsByContext("start_")|filter2("assignments.start_.num", undefined) %}
{{- "% InitialAssignments" if listOfInitialAssignments|length > 0 -}}
{% for record in listOfInitialAssignments %}
addrule(
  {{- model_id }}, '{{record.id}} = {{ record.assignments.start_.toMatlabString() }}', 'initialAssignment');
{% endfor %}

{% set listOfTimeEvents = population.selectByClassName("TimeSwitcher") %}
{{- "% Time Events" if listOfTimeEvents | length > 0 }}
{%- for event in listOfTimeEvents %}
{%- set startValue = event.start if event.start is defined else event.startObj.num %}
{{ population.spaceName }}.event.{{event.id}} = addevent({{ model_id }}, 'time >{{'=' if not event.atStart }} {{ startValue -}}
  {%- if event.start is defined or event.startObj is defined -%}
    {%- set periodValue = event.period if event.period is defined else event.periodObj.num %} && (time - {{ startValue }}) / {{ periodValue }} - floor((time - {{ startValue }}) / {{ periodValue }} + 0.5) >= 0
  {%- endif -%}
  {%- if event.stop is defined or event.stopObj is defined -%}
    {%- set stopValue = event.stop if event.stop is defined else event.stopObj.num %} && time <= {{ stopValue }}
  {%- endif -%}
', {
  {%- for record in population.selectRecordsByContext(event.id) -%}
  '{{- record.id }} = {{ record.assignments[event.id].toMatlabString() }}', {% endfor -%}
  }, 'Active', {{ event.active }}, 'Notes', '{{event.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfDEvents = population.selectByClassName("DSwitcher") %}
{{- "% Discrete Events" if listOfDEvents | length > 0 }}
{%- for event in listOfDEvents %}
{{ population.spaceName }}.event.{{event.id}} = addevent({{- model_id }}, '{{ event.trigger.toMatlabString() if event.trigger is defined else 'false' }}', {
  {%- for record in population.selectRecordsByContext(event.id) -%}
  '{{- record.id }} = {{ record.assignments[event.id].toMatlabString() }}', {% endfor -%}
  }, 'Active', {{ event.active }}, 'Notes', '{{ event.notesHTML }}', 'Tag', '');
{%- endfor %}

{% set listOfCEvents = population.selectByClassName("CSwitcher") %}
{{- "% Conditional Events" if listOfCEvents | length > 0 }}
{% for event in listOfCEvents -%}
{{ population.spaceName }}.event.{{event.id}} = addevent({{- model_id }}, '{{ event.trigger.toMatlabString() + '>=0' if event.trigger is defined else 'false' }}', {
  {%- for record in population.selectRecordsByContext(event.id) -%}
  '{{- record.id }} = {{ record.assignments[event.id].toMatlabString() }}', {% endfor -%}
  }, 'Active', {{ event.active }}, 'Notes', '{{ event.notesHTML }}', 'Tag', '');
{% endfor %}
