# Summary for platform 

## FunctionDef elements ({{ functionDefStorage | length }})

### Core

{% for key, value in functionDefStorage | filter2('1.isCore', true) %}{{ value.id }}, {% endfor %}

### User-defined

{% set userFunctionDef = functionDefStorage | exclude2('1.isCore', true) %}
{{- '-' if not userFunctionDef.length }}
{%- for key, value in userFunctionDef %}{{ value.id }}, {% endfor %}

## UnitDef elements ({{ unitDefStorage | length }})

### Core

{% for key, value in unitDefStorage | filter2('1.isCore', true) %}{{ value.id }}, {% endfor %}

### User-defined

{% set userUnitDef = unitDefStorage | exclude2('1.isCore', true) %}
{{- '-' if not userUnitDef.length }}
{%- for key, value in userUnitDef %}{{ value.id }}, {% endfor %}

## Namespace elements ({{ namespaceStorage | length }})

{% for key, value in namespaceStorage %}{{ key }}, {% endfor %}

{% for img in nsImages %}{% set ns = img.ns %}
## "{{ ns.spaceName }}" {{ 'abstract' if ns.isAbstract else 'concrete' }} namespace ({{ ns.size }})

### By classes

TimeScale: {% for key, value in ns | filter2('1.className', 'TimeScale') %}{{ key }}, {% endfor %}

Const: {% for key, value in ns | filter2('1.className', 'Const') %}{{ key }}, {% endfor %}

Record: {% for key, value in ns | filter2('1.className', 'Record') %}{{ key }}, {% endfor %}

Process: {% for key, value in ns | filter2('1.className', 'Process') %}{{ key }}, {% endfor %}

Compartment: {% for key, value in ns | filter2('1.className', 'Compartment') %}{{ key }}, {% endfor %}

Species: {% for key, value in ns | filter2('1.className', 'Species') %}{{ key }}, {% endfor %}

Reaction: {% for key, value in ns | filter2('1.className', 'Reaction') %}{{ key }}, {% endfor %}

TimeSwitcher: {% for key, value in ns | filter2('1.className', 'TimeSwitcher') %}{{ key }}, {% endfor %}
{# CSwitcher, DSwitcher, StopSwitcher, Dose, Page, #}
### Orphan (unused) components

Const: {% for x in img.orphanConsts %}{{ x }}, {% endfor %}{{ '-' if not img.orphanConsts | length }}

Record: {% for x in img.orphanRecords %}{{ x }}, {% endfor %}{{ '-' if not img.orphanRecords | length }}

Switcher: {% for x in img.orphanSwitchers %}{{ x }}, {% endfor %}{{ '-' if not img.orphanSwitchers | length }}

### Lost (absent) components

{% for x in img.lostComponents %}{{ x }}, {% endfor %}{{ '-' if not img.lostComponents | length }}
{% endfor %}
