%{
  This model was created by qs3p-js.
  Additional functions and constants for compatibility see in "fun.m"
  export from : {{_id}} @SimbioExport {...};
  {{title}}
  {{notes}}
%}

sbioaddtolibrary(sbiounit('week', 'day', 7));

{% set model_id = _id + "_model" -%}
{{ model_id }} = sbiomodel('{{_id}}');

% Useful parameters
addparameter({{ model_id }}, 'timeOne', 1, 'ValueUnits', 'hour');

{% set listOfCompartments = image.population.selectByClassName('Compartment') -%}
{{ "% Compartments" if listOfCompartments|length > 0 }}
{%- for record in listOfCompartments %}
{{_id}}.compartment.{{record.id}} = addcompartment(
  {{- model_id }}, '{{record.id}}', 'ConstantCapacity', false
  {%- if record.assignments.start_.num!==undefined %}, 'Capacity', {{record.assignments.start_.num}}{% endif %}
  {%- if record.units!==undefined %}, 'CapacityUnits', '{{ record.unitsRebased(image.legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfSpecies = image.population.selectByClassName('Species') -%}
{{ "% Species" if listOfSpecies|length > 0 }}
{%- for record in listOfSpecies %}
{{_id}}.species.{{record.id}} = addspecies(
  {{- _id }}.compartment.{{record.compartment}}, '{{record.id}}', 'ConstantAmount', false
  {%- if record.assignments.start_.num!==undefined %}, 'InitialAmount', {{record.assignments.start_.num}}{% endif -%}
  {%- if record.units!==undefined -%}, 'InitialAmountUnits', '{{ record.unitsRebased(image.legalUnits, true) }}'{% endif -%}
  , 'BoundaryCondition', {{ record.boundary===true or record.implicitBoundary===true -}}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfParameters = image.population.selectByClassName('Record') -%}
{% set listOfProcesses = image.population.selectByClassName('Process') -%}
{% set listOfConstants = image.population.selectByClassName('Const') -%}
{{ "% Parameters" if listOfParameters|length + listOfConstants|length + listOfProcesses|length > 0 }}
{%- for record in listOfParameters.concat(listOfProcesses) %}
{{_id}}.parameter.{{record.id}} = addparameter(
  {{- model_id }}, '{{record.id}}', 'ConstantValue', false
  {%- if record.assignments.start_.num!==undefined %}, 'Value', {{record.assignments.start_.num}}{% endif -%}
  {%- if record.units!==undefined -%}, 'ValueUnits', '{{ record.unitsRebased(image.legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
{%- endfor %}
{%- for con in listOfConstants %}
{{_id}}.parameter.{{con.id}} = addparameter(
  {{- model_id }}, '{{con.id}}', 'ConstantValue', true
  {%- if con.num!==undefined %}, 'Value', {{con.num}}{% endif -%}
  {%- if con.units!==undefined -%}, 'ValueUnits', '{{ con.unitsRebased(image.legalUnits, true) }}'{% endif -%}
  , 'Notes', '{{con.notesHTML}}', 'Tag', '');
{%- endfor %}

{% set listOfReactions = image.population.selectByClassName('Reaction') -%}
{{ "% Reactions" if listOfReactions|length > 0 }}
{%- for record in listOfReactions %}
{{_id}}.reaction.{{record.id}} = addreaction(
  {{- model_id }}, 'null -> null', 'Name', '{{record.id}}', 'Active', true, 'Reversible', {{ record.aux.reversible!==false}}
  {%- if record.assignments.ode_ %}, 'ReactionRate', '{{record.assignments.ode_.toMatlabString()}}'{% endif -%}
  , 'Notes', '{{record.notesHTML}}', 'Tag', '');
  {%- set fullActors = record.actors.concat(record.modifiers) -%}
  {% set reactants = fullActors|getReactants %}
  {%- if reactants|length > 0 %}
  addreactant({{_id}}.reaction.{{record.id}}, [
    {%- for actor in reactants %}{{_id}}.species.{{ actor.target }}, {% endfor -%}
    ], [
    {%- for actor in reactants %}{{ -actor.stoichiometry if actor.stoichiometry<0 else 1 }}, {% endfor -%}
    ]);
  {%- endif %}
  {%- set products = fullActors|getProducts %}
  {%- if products|length > 0 %}
  addproduct({{_id}}.reaction.{{record.id}}, [
    {%- for actor in products %}{{_id}}.species.{{ actor.target }}, {% endfor -%}
    ], [
    {%- for actor in products %}{{ actor.stoichiometry if actor.stoichiometry>0 else 1 }}, {% endfor -%}
    ]);
  {%- endif %}
{%- endfor %}

{% set listOfAssignmentRules = image.population.selectRecordsByContext("ode_")|exclude2("className","Reaction") -%} {# all ode_ but not reactions #}
{%- set listOfRateRules = image.population.selectByClassName('Record')|exclude2("boundary", true)|exclude2("implicitBoundary", true)|exclude2("backReferences.length", 0) -%}
{{ "% Rules" if listOfAssignmentRules|length + listOfRateRules|length > 0 }}
{% for record in listOfAssignmentRules -%}
addrule(
  {{- model_id }}, '{{record.id}} = {{ record.assignments.ode_.toMatlabString() }}', 'repeatedAssignment');
{% endfor %}
{% for record in listOfRateRules -%}
addrule(
  {{- model_id }}, '{{record.id}} = 
  {%- for ref in record.backReferences -%}
    {{ " " + ref.stoichiometry if ref.stoichiometry<0 or loop.first else " + " + ref.stoichiometry }}*{{ ref.process }}
  {%- endfor -%}
  ', 'rate');
{%- endfor %}

{%- set listOfInitialAssignments = image.population.selectRecordsByContext("start_")|filter2("assignments.start_.num", undefined) %}
{{- "% InitialAssignments" if listOfInitialAssignments|length > 0 -}}
{% for record in listOfInitialAssignments %}
addrule(
  {{- model_id }}, '{{record.id}} = {{ record.assignments.start_.toMatlabString() }}', 'initialAssignment');
{% endfor %}

{%- set listOfTimeEvents = image.population.selectByClassName("TimeSwitcher") %}
{{- "% Time Events" if listOfTimeEvents|length > 0 }}
{% for event in listOfTimeEvents -%}
{%- for record in image.population.selectRecordsByContext(event.id) -%}
{{_id}}.dose.{{event.id}}.{{record.id}} = adddose({{- model_id }}, '{{event.id}}');
    {{_id}}.dose.{{event.id}}.{{record.id}}.TargetName = '{{record.id}}';
    {{_id}}.dose.{{event.id}}.{{record.id}}.Amount = '{{record.assignments[event.id].toMatlabString()}}';
    {{_id}}.dose.{{event.id}}.{{record.id}}.Interval = '{{event.period}}';
    {{_id}}.dose.{{event.id}}.{{record.id}}.RepeatCount = '{{event.repeatCount if event.repeatCount>0 else 0}}';
    {{_id}}.dose.{{event.id}}.{{record.id}}.StartTime = '{{event.start}}';
    {{_id}}.dose.{{event.id}}.{{record.id}}.Active = true;
{% endfor -%}
{% endfor %}

{% set listOfContinuousEvents = image.population.selectByClassName("ContinuousSwitcher") %}
{{- "% Events" if listOfContinuousEvents|length > 0 }}
{% for event in listOfContinuousEvents -%}
{{_id}}.event.{{event.id}} = addevent({{- model_id }}, '{{ event.condition }} >= 0', {
  {%- for record in image.population.selectRecordsByContext(event.id) -%}
  '{{- record.id }} = {{ record.assignments[event.id].toMatlabString() }}', {% endfor -%}
  }, 'Notes', '{{event.notesHTML}}', 'Tag', '');
{% endfor %}
