<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<sbml xmlns="http://www.sbml.org/sbml/level2/version4" xmlns:xhtml="http://www.w3.org/1999/xhtml" level="2" version="4">
  <model>
  {% if out.listOfCompartments|length > 0 %}
    <listOfCompartments>
    {%- for quantity in out.listOfCompartments %}
      <compartment
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        constant="false"
        {% if quantity.variable.size.num!==undefined and quantity.kind!=='rule' -%}size="{{quantity.variable.size.num}}"{%- endif %}
        {% if quantity.variable.units!==undefined -%}units="{{ quantity.unitsHash }}"{%- endif %}
        metaid="{{quantity.indexString}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
      </compartment>
    {%- endfor %}
    </listOfCompartments>
  {% endif %}
  {% if out.listOfSpecies|length > 0 %}
    <listOfSpecies>
    {%- for quantity in out.listOfSpecies %}
      <species
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        hasOnlySubstanceUnits="{{quantity.isAmount===true}}"
        speciesType=""
        compartment="{{quantity.compartmentRef}}"
        constant="false"
        boundaryCondition="{{ quantity.variable.kind!=='dynamic' }}"
        {% if quantity.variable.size.num!==undefined and quantity.variable.kind!=='rule' -%}initialConcentration="{{quantity.variable.size.num}}"{%- endif %}
        {% if quantity.variable.units!==undefined -%}substanceUnits="{{quantity.unitsHash}}"{%- endif %}
        metaid="{{quantity.indexString}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
      </species>
    {%- endfor %}
    </listOfSpecies>
  {% endif %}
  {% if out.listOfParameters|length > 0 %}
    <listOfParameters>
    {%- for quantity in out.listOfParameters %}
      <parameter
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        constant="false"
        {% if quantity.variable.size.num!==undefined and quantity.variable.kind!=='rule' -%}value="{{quantity.variable.size.num}}"{%- endif %}
        {% if quantity.variable.units!==undefined -%}units="{{quantity.unitsHash}}"{%- endif %}
        metaid="{{quantity.indexString}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
      </parameter>
    {%- endfor %}
  </listOfParameters>
  {% endif %}
  {% if out.listOfReactions|length > 0 %}
    <listOfReactions>
    {%- for quantity in out.listOfReactions %}
      <reaction
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        reversible="{{ quantity.aux.reversible!=='false' }}"
        fast="{{ quantity.aux.fast==='true' }}"
        metaid="{{quantity.indexString}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
        <listOfReactants>
          {% for actor in quantity.actors -%}
          {% if actor.stoichiometry<0 %}<speciesReference species="{{ actor.targetRef }}" stoichiometry="{{ -actor.stoichiometry }}"/>{% endif %}
          {% endfor -%}
        </listOfReactants>
        <listOfProducts>
          {% for actor in quantity.actors -%}
          {% if actor.stoichiometry>0 %}<speciesReference species="{{ actor.targetRef }}" stoichiometry="{{ actor.stoichiometry }}"/>{% endif %}
          {% endfor -%}
        </listOfProducts>
        <listOfModifiers>
          {% for effector in quantity.effectors -%}
          <modifierSpeciesReference species="{{ effector.targetRef }}"/>
          {% endfor -%}
        </listOfModifiers>
        <kineticLaw>
          {%- if quantity.variable.size.expr -%}
            {{quantity.variable.size.exprCMathML}}
          {%- endif -%}
          {% if quantity.variable.size.num %}
          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <cn>{{quantity.variable.size.num}}</cn>
          </math>
          {%- endif %}
        </kineticLaw>
      </reaction>
    {%- endfor %}
  </listOfReactions>
  {% endif %}
  {% if out.listOfRules|length > 0 %}
    <listOfRules>
    {%- for quantity in out.listOfRules %}
      <assignmentRule
        variable="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        >
        {%- if quantity.variable.size.expr -%}
          {{quantity.variable.size.exprCMathML}}
        {%- endif -%}
        {% if quantity.variable.size.num %}
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <cn>{{quantity.variable.size.num}}</cn>
        </math>
        {%- endif %}
      </assignmentRule>
    {%- endfor %}
    </listOfRules>
  {% endif %}
  {% if out.listOfInitialAssignments|length > 0 %}
    <listOfInitialAssignments>
    {%- for quantity in out.listOfInitialAssignments %}
      <initialAssignment
        symbol="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        >
        {{quantity.variable.size.exprCMathML}}
      </initialAssignment>
    {%- endfor %}
    </listOfInitialAssignments>
  {% endif %}
  {% if out.getUniqueUnits()|length > 0 %}
    <listOfUnitDefinitions>
    {%- for quantity in out.getUniqueUnits() %}
      {{ quantity.getUnitDefinition() }}
    {%- endfor %}
  </listOfUnitDefinitions>
  {% endif %}
  </model>
</sbml>
