<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<sbml xmlns="http://www.sbml.org/sbml/level2/version4" xmlns:xhtml="http://www.w3.org/1999/xhtml" level="2" version="4">
  <model>
  {% if out.listOfCompartments|length > 0 %}
    <listOfCompartments>
    {%- for quantity in out.listOfCompartments %}
      <compartment
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        constant="false"
        {% if quantity.variable.size.num!==undefined and quantity.kind!=='rule' -%}size="{{quantity.variable.size.num}}"{%- endif %}
        {% if quantity.variable.units!==undefined -%}units="{{ quantity.unitsHash }}"{%- endif %}
        metaid="{{quantity.index}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
      </compartment>
    {%- endfor %}
    </listOfCompartments>
  {% endif %}
  {% if out.listOfSpecies|length > 0 %}
    <listOfSpecies>
    {%- for quantity in out.listOfSpecies %}
      <species
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        hasOnlySubstanceUnits="{{quantity.isAmount===true}}"
        speciesType=""
        compartment="{{quantity.compartment}}"
        constant="false"
        boundaryCondition="{{ quantity.variable.kind!=='dynamic' }}"
        {% if quantity.variable.size.num!==undefined and quantity.variable.kind!=='rule' -%}initialConcentration="{{quantity.variable.size.num}}"{%- endif %}
        {% if quantity.variable.units!==undefined -%}substanceUnits="{{quantity.unitsHash}}"{%- endif %}
        metaid="{{quantity.index}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
      </species>
    {%- endfor %}
    </listOfSpecies>
  {% endif %}
  {% if out.listOfParameters|length > 0 %}
    <listOfParameters>
    {%- for quantity in out.listOfParameters %}
      <parameter
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        constant="false"
        {% if quantity.variable.size.num!==undefined and quantity.variable.kind!=='rule' -%}value="{{quantity.variable.size.num}}"{%- endif %}
        {% if quantity.variable.units!==undefined -%}units="{{quantity.unitsHash}}"{%- endif %}
        metaid="{{quantity.index}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
      </parameter>
    {%- endfor %}
  </listOfParameters>
  {% endif %}
  {% if out.listOfReactions|length > 0 %}
    <listOfReactions>
    {%- for quantity in out.listOfReactions %}
      <reaction
        id="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        reversible="{{ quantity.aux.reversible!=='false' }}"
        fast="{{ quantity.aux.fast==='true' }}"
        metaid="{{quantity.index}}"
        >
        {% if quantity.notes %}<notes><html xmlns="http://www.w3.org/1999/xhtml">{{quantity.notesHTML}}</html></notes>{% endif %}
        <listOfReactants>
          {% for actor in quantity.actors -%}
          {% if actor.stoichiometry<0 %}<speciesReference species="{{ actor.target }}" stoichiometry="{{ -actor.stoichiometry }}"/>{% endif %}
          {% endfor -%}
        </listOfReactants>
        <listOfProducts>
          {% for actor in quantity.actors -%}
          {% if actor.stoichiometry>0 %}<speciesReference species="{{ actor.target }}" stoichiometry="{{ actor.stoichiometry }}"/>{% endif %}
          {% endfor -%}
        </listOfProducts>
        <listOfModifiers>
          {% for effector in quantity.effectors -%}
          <modifierSpeciesReference species="{{ effector.target }}"/>
          {% endfor -%}
        </listOfModifiers>
        <kineticLaw>
          {{quantity.variable.size.toCMathML}}
        </kineticLaw>
      </reaction>
    {%- endfor %}
  </listOfReactions>
  {% endif %}
  <listOfRules>
  {%- for quantity in out.listOfRules %}
    <assignmentRule
      variable="{{quantity.id}}"
      {% if quantity.title %}name="{{quantity.title}}"{% endif %}
      >
      {{quantity.variable.size.toCMathML}}
    </assignmentRule>
  {%- endfor %}
  {%- for quantity in out.listOfProcesses %}
    {%- for actor in quantity.actors %}
    <rateRule
      variable="{{actor.target}}"
      {% if quantity.title %}name="{{quantity.title}}"{% endif %}
      >
      <math xmlns="http://www.w3.org/1998/Math/MathML">
        <apply>
          <times/>
          <cn>{{actor.stoichiometry}}</cn>
          <ci>{{quantity.id}}</ci>
        </apply>
      </math>
    </rateRule>
    {%- endfor %}
  {%- endfor %}
  </listOfRules>
  {% if out.listOfInitialAssignments|length > 0 %}
    <listOfInitialAssignments>
    {%- for quantity in out.listOfInitialAssignments %}
      <initialAssignment
        symbol="{{quantity.id}}"
        {% if quantity.title %}name="{{quantity.title}}"{% endif %}
        >
        {{quantity.variable.size.toCMathML}}
      </initialAssignment>
    {%- endfor %}
    </listOfInitialAssignments>
  {% endif %}
  {% if out.listOfEvents %}
    <listOfEvents>
      {%- for event in out.listOfEvents %}
      <event
        >
        <trigger>
          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <apply>
              <geq/>
              <ci>{{ event.id }}</ci>
              <cn>0</cn>
            </apply>
          </math>
        </trigger>
        <listOfEventAssignments>
          {% for assignment in event.assignments %}
          <eventAssignment
            variable="{{ assignment.target }}">
            {{ assignment.size.toCMathML }}
          </eventAssignment>
          {% endfor %}
        </listOfEventAssignments>
      </event>
      {%- endfor %}
    </listOfEvents>
  {% endif %}
  {% if out.uniqueUnits|length > 0 %}
    <listOfUnitDefinitions>
    {%- for quantity in out.uniqueUnits %}
      {{ quantity.getUnitDefinition() }}
    {%- endfor %}
  </listOfUnitDefinitions>
  {% endif %}
  </model>
</sbml>
